{$DOMAIN_NAME_CASING:showcase.localhost} {
    root * /www/html
    file_server
}
www.{$DOMAIN_NAME_CASING:showcase.localhost} {
    redir https://{$DOMAIN_NAME_CASING:showcase.localhost}{uri}
}

{$DOMAIN_NAME_KANMIND:kanmind.localhost} {
    root * /www/html
    file_server
}
www.{$DOMAIN_NAME_KANMIND:kanmind.localhost} {
    redir https://{$DOMAIN_NAME_KANMIND:kanmind.localhost}{uri}
}


{$DOMAIN_NAME} {
    reverse_proxy hugging_hugo_blog:1313
}
www.{$DOMAIN_NAME} {
    redir https://{$DOMAIN_NAME}{uri}
}


